<head>
    <title>{{ .title }}</title>
    {{ if .author }}<meta name="author" content="{{ .author }}" />{{ end }}
    {{ if .keywords }}<meta name="keywords" content="{{ .keywords }}" />{{ end }}
    {{ if .description }}<meta name="description" content="{{ .description }}" />{{ end }}
</head>

**Header Title**

_Header Subtitle_
