<head>
    <title>{{ .metadata.title }}</title>
    {{ if .metadata.author }}<meta name="author" content="{{ .metadata.author }}" />{{ end }}
    {{ if .metadata.keywords }}<meta name="keywords" content="{{ .metadata.keywords }}" />{{ end }}
    {{ if .metadata.description }}<meta name="description" content="{{ .metadata.description }}" />{{ end }}
    <style>
    @page { @top-left { content: element(header) }; }
    #header { display: block; position: running(header); }
    </style>
</head>
<span id="header">
    <span id="title">Header Title</span><br/>
    <span id="subtitle">Header Subtitle</span><br/><br/>
</span>
